<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta th:insert="sample.html :: meta-charset"/>
    <meta th:insert="sample.html :: meta-name"/>
    <link th:insert="sample.html :: link-href"/>
    <title>О сайте | DotaInf</title>
</head>
<body>
    <header th:insert="sample.html :: header"></header>

    <p><b>Скриптер и дизайнер дипломного сайта:</b></p>
    <p>Студент 4-го курса, факультета ИВТ</p>
    <p>группы ИП-911</p>
    <p>Козлов Д.В.</p>

    <footer th:insert="sample.html :: footer"></footer>
</body>
</html>