<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta th:insert="sample.html :: meta-charset"/>
    <meta th:insert="sample.html :: meta-name"/>
    <link th:insert="sample.html :: link-href"/>
    <title>Герои | Dota Inf</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:insert="sample.html :: header"></header>

    <div class="album py-5 bg-light bg-gradient">
        <form method="post" th:action="@{/heroes}" th:object="${heroesSearch}">
            <div class="input-group mb-3 w-25 mx-auto shadow-sm">
                <input th:field="*{searchText}" type="text" class="form-control" placeholder="Введите имя героя" aria-label="Введите имя героя" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
            </div>
        </form>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <th:block th:each="hero: ${heroes}">
                    <th:block th:if="${heroes.indexOf(hero)} % 3 != 0">
                        <div class="card col-sm-3 mx-2 shadow-sm">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <h5 class="card-title" th:text="${hero.heroName}"/>
                                    <th:block th:switch="${hero.heroAttribute}">
                                        <th:block th:case="'Сила'">
                                            <img src="../../static/images/str.png" th:src="@{/images/str.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                        <th:block th:case="'Ловкость'">
                                            <img src="../../static/images/agi.png" th:src="@{/images/agi.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                        <th:block th:case="'Интеллект'">
                                            <img src="../../static/images/int.png" th:src="@{/images/int.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                    </th:block>
                                </div>
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th scope="row" class="h6">ID</th>
                                        <td th:text="${hero.id}"/>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="h6">AT</th>
                                        <th:block th:switch="${hero.heroAttribute}">
                                            <th:block th:case="'Сила'">
                                                <td th:text="${hero.heroAttribute}" class="text-danger"/>
                                            </th:block>
                                            <th:block th:case="'Ловкость'">
                                                <td th:text="${hero.heroAttribute}" class="text-success"/>
                                            </th:block>
                                            <th:block th:case="'Интеллект'">
                                                <td th:text="${hero.heroAttribute}" class="text-primary"/>
                                            </th:block>
                                        </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="'heroes/hero-stats/' + ${hero.id}" class="btn btn-primary">Хар-ки</a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${heroes.indexOf(hero)} % 3 != 0">
                        <div class="w-100 py-2"></div>
                        <div class="card col-sm-3 mx-2 shadow-sm">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <h5 class="card-title" th:text="${hero.heroName}"/>
                                    <th:block th:switch="${hero.heroAttribute}">
                                        <th:block th:case="'Сила'">
                                            <img src="../../static/images/str.png" th:src="@{/images/str.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                        <th:block th:case="'Ловкость'">
                                            <img src="../../static/images/agi.png" th:src="@{/images/agi.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                        <th:block th:case="'Интеллект'">
                                            <img src="../../static/images/int.png" th:src="@{/images/int.png}" width="35" height="35" class="position-absolute top-0 end-0 mt-2 mx-3">
                                        </th:block>
                                    </th:block>
                                </div>
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th scope="row" class="h6">ID</th>
                                        <td th:text="${hero.id}"/>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="h6">AT</th>
                                        <th:block th:switch="${hero.heroAttribute}">
                                            <th:block th:case="'Сила'">
                                                <td th:text="${hero.heroAttribute}" class="text-danger"/>
                                            </th:block>
                                            <th:block th:case="'Ловкость'">
                                                <td th:text="${hero.heroAttribute}" class="text-success"/>
                                            </th:block>
                                            <th:block th:case="'Интеллект'">
                                                <td th:text="${hero.heroAttribute}" class="text-primary"/>
                                            </th:block>
                                        </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="'heroes/hero-stats/' + ${hero.id}" class="btn btn-primary">Хар-ки</a>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>

    <footer th:insert="sample.html :: footer"></footer>
</body>
</html>